# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.env

# Development tools
.tox/
.idea/
.vscode/

# IDE-specific files
*.swp
*.swo
*.pyc
.DS_Store

# flagged folder
flagged/